.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img.preview {
  max-width: 50%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

button {
  background-color: #2b56a7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  width: 150px;
}

hr {
  width: 40%;
}

.inputs {
  display: grid;
  grid-template-columns: lfr 3fr;
}

label {
  font-size: 18px;
}

input {
  margin-left: 10px;
}

input:focus {
  background-color: lightblue;
}

input[type=number] {
  width: 30%;
  /* padding: 2px 5px; */
  /* box-sizing: border-box; */
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}